<section class="bg-negro">
    <div class="d-grid">
        <div class="d-flex-alineado">
            <h2 class="wow fadeInUp smoke"><span class="naranja">Genergy</span> es una  plataforma integrada de <span class="naranja">soluciones</span>.</h2>
            <div class="mt-3">
                <div class="iconos-flex">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                        </svg>
                    </div>
                    <div class="smoke">
                        <h4 data-wow-delay="0.5s" class="wow fadeInUp">
                            Simplificamos el proceso de medición.
                        </h4>
                    </div>
                </div>
                <div class="iconos-flex">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                        </svg>
                    </div>
                    <div class="smoke">
                        <h4 data-wow-delay="0.5s" class="wow fadeInUp">
                            Simplificamos el proceso de certificación.
                        </h4>
                    </div>
                </div>
                <div class="iconos-flex">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
                        </svg>
                    </div>
                    <div class="smoke">
                        <h4 data-wow-delay="0.5s" class="wow fadeInUp">
                            Controlamos el impacto ambiental.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <picture class="img-fluid">
                <source media="(max-width:674px)" type="image/webp" srcset="../../../assets/img/CO2-regulator-2-mobile.webp">
                <source type="image/webp" srcset="../../../assets/img/CO2-regulator-2.webp">
                <source media="(max-width:674px)" srcset="../../../assets/img/CO2-regulator-2-mobile.jpg">
                <img src="../../../assets/img/CO2-regulator-2.jpg" alt="Genergy regulador de emisiones de C02" class="img-fluid" width="676" height="370">
            </picture>
            
        </div>
    </div>
</section>

