<section>
    <div class="parallax">
        <div class="center-v">
            <div class="texto wow fadeInUp">
                <h2>Nuestra misión es acelerar el proceso de transición a emisiones cero, para lograr un mundo ambientalmente sostenible</h2>
                <div class="mt-3"> 
                    <div>
                        <h4><span class="naranja">Medir</span> el impacto ambiental actual.</h4>
                    </div>
                    <div>
                        <h4><span class="naranja">Reducir</span> la incidencia de nuestra huella de carbono en los productos y servicios clave para cada organización.</h4>
                    </div>
                    <div>
                        <h4><span class="naranja">Compensar</span> inteligente y eficientemente realizando las inversiones en el momento y el lugar adecuado.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>