<section>
    <div class="d-grid">
        <div class="wow fadeInUp">
            <lottie-player 
                src="https://assets1.lottiefiles.com/packages/lf20_rrqimc3f.json"  
                background="transparent"  
                speed="1" 
                loop  
                autoplay
               >
            </lottie-player>
            
        </div>
        <div>
            <p class="celeste wow fadeInUp"><b>TECNOLOGÍA</b></p>
            <h4 class="wow fadeInUp">
                Nuestra plataforma de Blockchain permite a las empresas certificar en tiempo real su impacto ambiental y medir en detalle sus contribuciones al medio ambiente.
            </h4>
            <br/>
            <h4 class="wow fadeInUp">
                La posibilidad de discriminar las compensaciones de Co2 a nivel de productos estrátegicos, incentiva las inversiones verdes, lo que a  su vez acelera el camino hacia un mundo sustentable. 
            </h4>
        </div>   
    </div>
    
</section>