<div class="parallax">
    <div class="padding-b">
        <div class="caja-w50">
            <h1 class="wow fadeInUp">Genergy<span class="naranja">.</span></h1>
            <h3 class="wow fadeInUp">Medimos, certificamos y controlamos el <span class="naranja">impacto ambiental</span> de tu empresa.</h3>
            <h4 class="wow fadeInUp">Una <span class="naranja">tonelada de CO2</span> representan:</h4>
        </div>
        <section class="numeros">
            <div class="grid-numeros mt-1 ancho-web wow fadeInUp">
                <div class="item-numeros">
                    <div class="circulo">
                        <div role="img" aria-label="1961" class="adentro-circulo tercero counter" style="--numero:1961"></div>
                    </div>
                    <div>
                        <img src="assets/img/icon/salad.svg" alt="a salad icon" class="mx-auto p-1" width="50" height="50"/>
                    </div>
                    <div>
                        <h5 class="px-4 text-white-smoke text-center">
                            Comidas vegetarianas.
                        </h5>
                    </div>
                </div>
                <div class="item-numeros">
                    <div class="circulo">
                        <div role="img" aria-label="138" class="adentro-circulo tercero counter" style="--numero:138"></div>
                    </div>
                    <div>
                        <img src="assets/img/icon/meat.svg" alt="a salad icon" class="mx-auto p-1" width="50" height="50"/>
                    </div>
                    <div>
                        <h5 class="px-4  text-white-smoke text-center">
                            Comidas Carnivoras.
                        </h5>
                    </div>
                </div>
                <div class="item-numeros">
                    <div class="circulo">
                        <div role="img" aria-label="192" class="adentro-circulo tercero counter"  style="--numero:192"></div>
                    </div>
                    <div>
                        <img src="assets/img/icon/t-shirt.svg" alt="a salad icon" class="mx-auto p-1" width="50" height="50"/>
                    </div>
                    <div>
                        <h5 class="px-4  text-white-smoke text-center">
                            Remeras de Algodón.
                        </h5>
                    </div>
                </div>
                <div class="item-numeros">
                    <div class="circulo">
                        <div role="img" aria-label="143190" class="adentro-circulo tercero counter" style="--numero:143190"></div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-tv mx-auto" viewBox="0 0 16 16">
                                <path d="M2.5 13.5A.5.5 0 0 1 3 13h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zM13.991 3l.024.001a1.46 1.46 0 0 1 .538.143.757.757 0 0 1 .302.254c.067.1.145.277.145.602v5.991l-.001.024a1.464 1.464 0 0 1-.143.538.758.758 0 0 1-.254.302c-.1.067-.277.145-.602.145H2.009l-.024-.001a1.464 1.464 0 0 1-.538-.143.758.758 0 0 1-.302-.254C1.078 10.502 1 10.325 1 10V4.009l.001-.024a1.46 1.46 0 0 1 .143-.538.758.758 0 0 1 .254-.302C1.498 3.078 1.675 3 2 3h11.991zM14 2H2C0 2 0 4 0 4v6c0 2 2 2 2 2h12c2 0 2-2 2-2V4c0-2-2-2-2-2z"/>
                            </svg>
                        </div>
                        <div>
                            <h5 class="text-center">
                                horas de uso de un TV LED 30w.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<!--<div class="parallax"></div>-->

